.container {
    display: flex;
}

.left-part {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.header {
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.body {
    width: 100%;
    position: relative;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.game-list {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    display: flex; /* Use flexbox to arrange items */
    flex-direction: row; /* Arrange items in rows */
    flex-wrap: wrap; /* Allow items to wrap into new rows */
    justify-content: flex-start; /* Align items to the left */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: none; /* Enable vertical scrolling */
    height: calc(100vh - 75px); /* Full viewport height minus margin */
    width: 100%; /* Ensure it takes the full width of the container */
    max-width: 1000px; /* Limit the maximum width to avoid horizontal scroll */
    scroll-snap-type: y mandatory; /* Enable scroll snapping vertically */
}

.game-list li {
    display: flex;
    flex-direction: column; /* Arrange image and text vertically */
    align-items: center; /* Center align text under the image */
    margin: 15px; /* Margin between items */
    cursor: pointer;
    transition: transform 0.3s ease;
    flex: 0 0 calc(30%); /* Two columns with space for margin */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

@media (max-width: 1800px) {
    .game-list li {
        flex: 0 0 calc(50% - 30px); /* Two columns when the screen width is below 900px */
    }
}

/* Media query for very narrow screens (1 column) */
@media (max-width: 1200px) {
    .game-list li {
        flex: 0 0 calc(100% - 30px); /* Full width for each item when the screen width is below 600px */
    }
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 3px; /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
    background: none; /* Track background */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4; /* Thumb color on hover */
}

.game-list img {
    opacity: 0.6; /* Make images half transparent (faded) */
    max-width: 100%; /* Set a fixed maximum width for images */
    border-radius: 5px; /* Optional: add rounded corners */
    transition: transform 0.3s ease; /* Smooth transition */
}

.game-list img.js-transform {
    transform: scale(1.07); /* Scale up when class is added */
}

.game-list img.active {
    opacity: 1; /* Full brightness */
    filter: brightness(1.2);
}

.game-list li:hover img {
    transform: scale(1.1); /* Scale the image up slightly */
    transition: transform 0.3s ease; /* Smooth transition */
    filter: brightness(1.2);
}

body {
    /*overflow-y: hidden; /* Prevent body overflow */
    margin: 0; /* Remove default margin */
    height: 100vh; /* Full viewport height */
    background-image: url('./game-images/animeBack.gif'); /* Specify your background image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
}

.game-list li.fade {
    opacity: 0.5; /* Fade out unselected images */
}

.game-list li.selected {
    transform: scale(1.1); /* Scale up the selected image */
}

.game-list li.fade {
    opacity: 0.5; /* Fade out unselected images */
}

.randomBtnAndImgContainer { /* This makes the container the reference for absolute positioning */
    width: 300px;
    height: 300px;
    margin: 0 auto; /* Centers the container horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#randomiseBtnImage {
    cursor: pointer;
      /* Absolute positioning relative to the container */
    width: 180px;
    height: 200px;
    z-index: 10;
    transition: transform 0.3s ease; /* Smooth transition */

    animation: rotateStep 15s infinite; /* Infinite rotation every 2 seconds */
}

@keyframes rotateStep {
    0% {
        transform: rotate(0deg); /* Initial position */
    }
    25% {
        transform: rotate(90deg); /* After 2 seconds */
    }
    50% {
        transform: rotate(180deg); /* After 4 seconds */
    }
    75% {
        transform: rotate(270deg); /* After 6 seconds */
    }
    100% {
        transform: rotate(360deg); /* After 8 seconds (complete rotation) */
    }
}

#randomiseBtnImage:hover {
    transform: scale(1.1); /* Scale the image up slightly */
    transition: transform 0.3s ease; /* Smooth transition */
    filter: brightness(1.7);
}

[state='hidden'] {
    display: none; /* Hide the image by default */
}

#displayedGameImage {
    max-width: 400px; /* Set a maximum width for the displayed image */
    position: relative;
    margin-top: 220px;
    /*margin: 20px auto;  Center the image */
    display: block; /* Ensure it behaves as a block element */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Optional: smooth transition */
    transform: scale(1.5); /* Make the displayed image larger */
    height: auto; /* Maintain aspect ratio */
    z-index: 1;
    border-radius: 5px;
}

#rerollBtnImage {
    position: relative; /* Position it inside #displayedGameImage */
    left: 350px;
    top: 60px;
    width: 150px;
    height: 150px;
    display: none; /* Make the image a block element */
    margin: 0 auto; /* Center horizontally */
    max-width: 100%; /* Responsive image */
    margin-top: 50px;
    transition: transform 0.3s ease;
    cursor: pointer;
    z-index: 20;

    animation: rotateStep 20s infinite; /* Infinite rotation every 2 seconds */
}

#rerollBtnImage:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    filter: brightness(1.7);
}

#loader {
    width: 48px;
    height: 48px;
    display: none;
  }
  #loader::after,
  #loader::before {
    content: '';  
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid #ffffff;
    position: absolute;
    left: 27px;
    top: 25px;
    animation: animloader 2s linear infinite;
    opacity: 0;
  }
  #loader::after {
    animation-delay: 1s;
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
}

.search {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0; /* Align to the top */
    left: 20px; /* Align to the right */
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

input {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    padding-left: 8px;
}

input::placeholder {
    font-size: 15px;
    line-height: 1.5;
    color: black;
}

input:focus::placeholder {
    opacity: 0; /* Hide placeholder text */
}

input:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    filter: brightness(1.1);
    background-color: rgb(220, 220, 220)
}

#disableAllBtn {
    margin-top: 20px;
    right: 50px;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    line-height: 1.5;
}

#disableAllBtn:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    filter: brightness(1.1);
    background-color: rgb(220, 220, 220)
}

.choises {
    flex-direction: column;
    top: 0; /* Align to the top */
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    margin-top: 150px;
}

#randomiseGame {
    background-color: rgba(255, 255, 255, 1);
    margin-top: 30px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    padding-left: 8px;
    margin-right: 40px;
    font-size: large;
    transform: scale(1.2);
}

#randomiseGame.js-transform {
    transform: scale(1.07); /* Scale up when class is added */
}

#randomiseGame.active {
    opacity: 1; /* Full brightness */
    filter: brightness(1.2);
}

#randomiseGame:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    filter: brightness(1.1);
    background-color: rgb(220, 220, 220)
}

#randomiseTeam {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    padding-left: 8px;
    font-size: large;
}

#randomiseTeam.js-transform {
    transform: scale(1.07); /* Scale up when class is added */
}

#randomiseTeam.active {
    opacity: 1; /* Full brightness */
    filter: brightness(1.2);
}

#randomiseTeam:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    filter: brightness(1.1);
    background-color: rgb(220, 220, 220)
}

#communicationIcon {
    cursor: pointer;
    width: 100px;
    height: 100px;
    opacity: 0.7;
    position: relative;
    display: flex;
    right: -200px;

}

#communicationIcon:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    filter: brightness(1.2);
    opacity: 1;
}

.tooltip {
    visibility: hidden;
    transform: translateX(-50%);
    transition: opacity 0.3s;
    background-color: rgba(255, 255, 255, 0.5);
    width: 285px;
    height: 100px;
    font-size: 20px;
    line-height: 1.5;
    position: relative;
    border-radius: 15px;
    right: 40px;
    bottom: 50px
}

.tooltip b {
    opacity: 1;
    position: relative;
    left: 10px;
    top: 5px;
}

.show-tooltip .tooltip {
    visibility: visible;
}

.tooltip-container {
    position: absolute;
    display: flex;
    bottom: 0;
    margin-bottom: 30px;
}